{% extends "base.html" %}
  
{% block title %} order Records{% endblock title %}
  
{% block content %}
<div class="col-md-12">    
    <form method="POST" class="post-form" action="/ord/{{inventory.id}}">  
        {% csrf_token %}
    <div class="container">  
        <div class="col-12">  
        <h3>Details</h3>  
        </div>  
        
        <div class="mb-3"> 
            <label>Inventory Name:</label>  
            <input type="text" class="form-control" name="name" id="id_name" required maxlength="100" value="{{ inventory.name }}" />
        </div> 
        
         
        <div class="mb-3"> 
            <label>selling_price:</label>  
            <input type="number" class="form-control" name="selling_price" id="id_selling_price" value="{{ inventory.selling_price }}" />   
            
        </div>

        <div class="mb-3"> 
            <label>Quantity:</label>  
            <input type="number" class="form-control" name="quantity" id="id_quantity"/> 
        </div> 
        
    
        <div class="mb-3"> 
            <button type="submit" class="btn btn-primary">Order</button>    
        </div> 
      
    </div> 
     
    </form>  
</div> 
{% endblock content %} 