{% extends "base.html" %}
  
{% block title %}Inventory Records{% endblock title %}
  
{% block content %}
<div class="col-md-12">
    <span><a href="/addnew" class="btn btn-primary">Add New Inv</a></span>  
    <div class="table-responsive">
    <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
    <thead>
        
        <th>Id</th>
        <th>Name</th>
        <th>iin</th>
        <th>cost</th>
        <th>quantity</th>
        <th>quantity_sold</th>
        <th>selling_price</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Order</th>
    </thead>
    <tbody>
    {% for inv in inventory %}  
        <tr>  
        
        <td>{{ inv.id }}</td>  
        <td>{{ inv.name }}</td>  
        <td>{{ inv.iin }}</td>  
        <td>{{ inv.cost }}</td>
        <td>{{ inv.quantity }}</td>
        <td>{{ inv.quantity_sold }}</td>
        <td>{{ inv.selling_price }}</td>  
        <td><a href="/edit/{{ inv.id }}" class="btn btn-primary">Edit</a></td>
        <td><a href="/delete/{{ inv.id }}" class="btn btn-danger">Delete</a></td>
        <td><a href="/cart/{{ inv.id }}" class="btn btn-success">Order</a></td>   
        </tr>  
    {% endfor %} 
    </tbody>
    </table>
    </div>
</div>








{% endblock content %} 